node_modules/
.env
.DS_Store
dist/
build/
*.log
docker-data/
coverage/
*.env.local
*.env.development
*.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.swp
.DS_Store
coverage/